
{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue dans ce blog</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique itaque omnis neque rerum culpa, quasi, commodi magnam maxime labore ex odit mollitia corrupti voluptate nihil molestias quos molestiae non minima nam libero magni facere inventore? Quia nihil magni optio! Repudiandae.</p>
<p>Dolorum officiis impedit maiores est ratione adipisci assumenda magni ducimus molestias nisi mollitia asperiores atque tenetur quo, velit praesentium, vel laboriosam corporis cum obcaecati vero? Asperiores ipsa consequuntur commodi natus reprehenderit, sit, distinctio iure itaque dolore pariatur magnam mollitia libero!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt optio vel obcaecati nobis, expedita quod consectetur in ipsam labore tempora minus sed neque libero temporibus animi quos tempore impedit. Quod.</p>
<p>Perferendis necessitatibus ipsam beatae aperiam fuga repellendus hic dolorum nisi cumque natus libero sed dicta iure expedita dolorem, ratione vero reiciendis aut, cum, quidem blanditiis? Repellendus odit veniam beatae neque.</p>

{% endblock %}














